@media only screen and (max-width: 1200px) {
    section.home-bnr {
        height: 400px;
    }
}

@media only screen and (max-width: 991px) {


    section.banner {
        margin-top: 67px;
    }

    .dropdown-content {

        position: static;
        display: none !important;

    }

    ul.menu li:hover ul.dropdown-content {
        display: block !important;
    }

    .navigation div#mySidenavs ul li a:hover {
        color: inherit;
    }
}