@media only screen and (max-width: 1200px) {
    section.home-bnr {
        height: 400px;
    }
}

@media only screen and (max-width: 991px) {


    section.banner {
        margin-top: 67px;
    }

    .dropdown-content {

        position: static;
        display: none !important;

    }

    ul.menu li:hover ul.dropdown-content {
        display: block !important;
    }

    .navigation div#mySidenavs ul li a:hover {
        color: inherit;
    }
}

@media only screen and (max-width: 767px) {
    .customer-box {
        text-align: center;
        
    }
}

@media only screen and (max-width: 575px) {
    .logo a {
        font-size: 28px;
        }
        
        .banner-content h1 {
        font-size: 38px;
        }
        .endless-content h5 {
        font-size: 18px;
        }
}